/* General body styling */
body {
  font-family: 'Georgia', serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: aliceblue;
}

.navbar {
  background-color: #007bff; /* Blue background color */
  padding: 10px 20px;
  border-bottom: 2px solid #0056b3; /* Darker blue border */
}

.navbar a {
  color: turquoise; /* White text color */
  text-decoration: none;
  padding: 10px 15px;
  font-size: 23px;
  display: inline-block;
}


.navbar a:hover {
  border-radius: 4px;
}

/* Styling for headings */
h1{
  color: #007bff;
  padding-bottom: 5px;
  margin-bottom: 20px;
}
h4{
  line-height: 1.6;
  font-size: 20px;
  color: darkblue;
}

/* Code block styling */
pre, code {
  background-color: #f8f9fa;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 10px;
  overflow-x: auto;
}
/* Styling for figures and captions */
figure {
  padding: 20px;
  border: 2px solid #007bff;

}

a:hover {
  text-decoration: underline;
}

.about {
  line-height: 1.6;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 20px;
}
.subtitle {
  color: #007bff;
  margin-top: 10px;
}
.sources {
  color: green;
}
